<!-- ShakeUp2020VoiceAnalysis
 License
© - 2020 – UMONS - ISIA Lab - CLICK' Living Lab
 ShakeUp 2020 Voice Analysis of University of MONS – ISIA Lab (Kevin El Haddad) and CLICK' Living Lab (Thierry Ravet) is free software: 
 you can redistribute it and/or modify it under the terms of the 3-Clause BSD licence. 
 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the 3-Clause BSD licence License for more details.
 
 You should have received a copy of the 3-Clause BSD licence along with this program.  
 
 Each use of this software must be attributed to University of MONS – CLICK' Living Lab and ISIA Lab.
 ## Legal Notices
 This work was produced as part of the FEDER Digistorm project, co-financed by the European Union and the Wallonia Region.
 ![Logo FEDER-FSE](https://www.enmieux.be/sites/default/files/assets/media-files/signatures/vignette_FEDER%2Bwallonie.png)
-->


{% extends "layout.html" %}
{% block body %}
    <header>
        <div id="titre_principal">
            <h1>OAEIOU speech processing</h1>    
        </div>
        <nav>
            {% if myValueTables|length > 0 %}
            <div class="menu">
                <h1>
                    <a href="#NumericTable">Numeric Results</a>
                </h1>
            </div>
            {% endif %}
            {% if myStringTables|length > 0 %}
            <div class="menu">
                <h1>
                    <a href="#StringTable">Tables</a>
                    Tables
                </h1>
                <ul>
                    {% for key,value in myStringTables.items() %} 
                            
                        <li><a href="#table_{{ key }}">{{ key }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if mySvgFigures|length > 0 %}
            <div class="menu">
                <h1>
                    <a href="#Figures">Figures</a>
                </h1>
                <ul>
                    {% for key,value in mySvgFigures.items() %} 
                            
                        <li><a href="#fig_{{ key }}">{{ key }}</a></li>
                    {% endfor %}

                </ul>
            </div>
            {% endif %}
        </nav>
    </header>
    <section>
        {% if myValueTables|length > 0 %}
        <article>
            <h1 id="NumericTable">
                Numeric Tables
            </h1>
            <table>
                <caption>Value</caption>
                <thead> <!-- En-tête du tableau -->
                    <tr>
                            <th>key</th>
                        {% for key2,value2 in myValueTables['key'].items() %} 
                            <th>{{key2}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody> <!-- Corps du tableau -->
                    {% for key,value in myValueTables.items() %} 
                        {% if key != 'key' %}
                        <tr>
                                <th>{{key}}</th>
                                {% for key2,value2 in myValueTables['key'].items() %}
                                    <td>{{value[key2]}}</td>
                                {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
            
                </tbody>
            </table>
        </article>
        {% endif %}
        {% if myStringTables|length > 0 %}

        <article>
            <h1 id ="StringTable">
                Tables
            </h1>
            {% for key,value in myStringTables.items() %} 
                <table style  id="table_{{ key }}" >
                    <caption>{{ key }}</caption>
                    {% for row in value %}    
                        <tr>
                            <td>{{row}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </article>
        
        {% endif %}
        {% if mySvgFigures|length > 0 %}
        <article>
            <h1 id="Figures">
                Figures
            </h1>

            {% for key,value in mySvgFigures.items() %} 
                <figure id="fig_{{ key }}">
                    {{ value }}
                    <figcaption >{{ key }}</figcaption>
                </figure>
            {% endfor %}
            
        </article>
        {% endif %}
        
    </section>
    <footer>
        <button id="Listen" class="btn btn-info" onclick="window.open('/tmp/audio.wav')">Listen</button>
        <button id="return" class="btn btn-success" onclick="location.href='index.html'">Return</button>
        <button id="Archive" class="btn btn-success" onclick="window.open('/tmp/archive.zip')">Archive</button>
    </footer>

{% endblock %}