{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <h1>
            <!-- 
            <img src="/myJitterAndShimmer.svg" alt="my plot"></img>
            <img src="/myJitterAndShimmer.svg" alt="my plot">
            <img src="/myFft.svg" alt="my plot"></img>
            <img src="/plot.svg" alt="my plot"></img> -->
            <figure>
                {{ plotData }}
                <figcaption>Acoustical wave</figcaption>
            </figure>
            <figure>
                {{ plotJitterAndShimmer }}
                <figcaption>Jitter</figcaption>
            </figure>
            <table style="width:100%">
            {% for row in tableJit %}    
                <tr>
                    <td>{{row}}</td>
                </tr>
            {% endfor %}
            </table>
            <table style="width:100%">
            {% for row in tableShim %}    
                <tr>
                    <td>{{row}}</td>
                </tr>
            {% endfor %}
            </table>
            <figure>
                {{ plotFft }}
                <figcaption>FFT</figcaption>
            </figure>
            <figure>
                {{ plotSpectrogramme }}
                <figcaption>Spectrogram</figcaption>
            </figure>
            <figure>
                {{ plotMelSpectrogramme }}
                <figcaption>Mel Spectrogram</figcaption>
            </figure>
        </h1>
        <p>
            <button id="Listen" class="btn btn-info" onclick="window.open('/tmp/audio.wav')">Download</button>
            <button id="return" class="btn btn-success" onclick="location.href='index.html'">Return</button>
            <button id="Archive" class="btn btn-success" onclick="location.href='todo.html'">Archive TODO</button>
        </p>
    </div>


{% endblock %}