
body
{
    background-color: white;
    color: black;
}

header 
{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}
nav
{
    display: flex;
    justify-content: space-around;

    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

.menu
{
}